<section class="fundo">
    <div class="efeito-de-fundo">
        <p class="imagem-de-fundo">
        </p>
    </div>
    <h2 class="titulo-pagina">
        Olá, seja <br>
        bem-vindo!
    </h2>

    <div>
        <p class="mensagem-acesso">
            Para acessar a plataforma, <br>
            faça seu login.
        </p>
    </div>

    <h5 class="e-mail">E-mail</h5>

    <div class="rectangle1">
        <input [(ngModel)]="usuario.email" placeholder="user.name@mail.com" value="" id="e-mail" type="text">
    </div>

    <h5 class="senha">Senha</h5>

    <div class="rectangle2">
        <input [(ngModel)]="usuario.senha" placeholder="*******" value="" id="senha" type="password">
    </div>

    <div>
        <button type="submit" class="entrar" name="action" (click)="fazerLogin()">ENTRAR</button>
    </div>

    <div>
        <p class="esqueceu">
            Esqueceu seu login ou senha?<br>
            Clique <a href="">aqui</a>
        </p>
    </div>

</section>